body
{
	color: black;
	font-family: Verdana,Arial,Sans-serif;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: #D6D6D6;
}
table
{
	width: 100%;
	font-size: 11px;
}
table#okvir
{
	background-color: #FFFFFF;
	width: 765px;
	border: 1px solid #4A5975;
}
table td
{
	padding: 0;
	border-width: 0;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a
{
	color: #004080;
	text-decoration: none;
	font-weight: bold;
	background-color: transparent;
}
a:hover
{
	color: #ff6600;
}
ul
{
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
}
li
{
	margin-left: 2px;
	list-style: square inside;
	color: #2F5376;
}
.item
{
	color: #0D0D0D;
}
.itemHead
{
	padding: 3px;
	color: #242424;
	border-bottom: 1px dashed #8699B5;
}
.itemInfo
{
	text-align: right;
	padding: 3px;
	background-color: #FFFFFF;
}
.itemTitle a
{
	font-size: 130%;
	font-weight: bold;
	font-variant: small-caps;
	color: #A52303;
	background-color: transparent;
}
.itemPoster
{
	font-size: 80%;
	font-style: italic;
}
.itemPostDate
{
	font-size: 80%;
	font-style: italic;
}
.itemStats
{
	font-size: 80%;
	font-style: italic;
}
.itemBody
{
	padding-left: 5px;
}
.itemText
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
}
.itemText:first-letter
{
	font-size: 133%;
	font-weight: bold;
}
.itemFoot
{
	text-align: left;
	padding: 3px;
	background-color: #FFFFFF;
	font-size: 11px;
}
.itemAdminLink
{
	font-size: 90%;
}
.itemPermaLink
{
	font-size: 90%;
}
th
{
	background-color: #CDDCEB;
	color: #004080;
	padding: 2px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td#headerbanner
{
	width: 100%;
	background-color: #FAFAFA;
	vertical-align: middle;
}
td#headerbar
{
	height: 29px;
	background-color: #004080;
	color: #FFFFFF;
	line-height: 27px;
	padding-left: 6px;
	padding-right: 7px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
td#headerbar a
{
	color: #FFFFFF;
}
td#headerbar a:hover
{
	color: #FF8040;
}
td#leftcolumn
{
	width: 160px;
	font-size: 11px;
	background-color: #F7F7F7;
	border-right: 1px solid #cccccc;
	padding-top: 2px;
}
td#leftcolumn th
{
	vertical-align: bottom;
	border-bottom: 1px dashed #8699B5;
	background-color: transparent;
	color: #00274F;
}
td#leftcolumn div.blockTitle
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 10px;
	background-color: #4A5975;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('puce.gif');
	background-repeat: no-repeat;
	background-position: left;
}
td#leftcolumn div.blockContent
{
	padding: 2px;
	line-height: 120%;
	line-height: 120%;
}
td#centercolumn
{
	font-size: 12px;
	color: #464646;
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;
}
td#centercolumn th
{
	color: #004080;
	background-color: #FFFFFF;
}
td#centerCcolumn div.blockTitle
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 10px;
	background-color: #E4851B;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('puce.gif');
	background-repeat: no-repeat;
	background-position: left;
}
td#centerCcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 8px;
	line-height: 120%;
	border-bottom: 1px dashed #cccccc;
}
td#centerLcolumn
{
	width: 60%;
	padding: 0px 0px 0px 0px;
	border-right: 1px solid #cccccc;
}
td#centerLcolumn div.blockTitle
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	background-color: #E6E6E6;
	margin-bottom: 5px;
	background-image: url('head2.gif');
	background-repeat: repeat-x;
	padding-left: 18px;
	background-position: left;
}
td#centerLcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	line-height: 120%;
	padding: 2px;
}
td#centerRcolumn
{
	width: 40%;
	padding: 0px 0px 0px 0px;
}
td#centerRcolumn div.blockTitle
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	background-color: #697996;
	margin-bottom: 5px;
	background-image: url('head2.gif');
	padding-left: 18px;
	background-repeat: repeat-x;
	background-position: left;
}
td#centerRcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	line-height: 120%;
	padding: 2px;
}
td#rightcolumn
{
	width: 170px;
	border-left: 1px solid #cccccc;
	font-size: 12px;
	padding-top: 2px;
}
td#rightcolumn th
{
	vertical-align: bottom;
	border-bottom: 1px dashed #8699B5;
	background-color: transparent;
	color: #00274F;
}
td#rightcolumn div.blockTitle
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 10px;
	background-color: #4A5975;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('puce.gif');
	background-repeat: no-repeat;
	background-position: left;
}
td#rightcolumn div.blockTitledrugi
{
	padding: 3px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 10px;
	background-color: #4A5975;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('puce.gif');
	background-repeat: no-repeat;
	background-position: left;
}
td#rightcolumn div.blockTitletri
{
	color: #FFFFFF;
	font-weight: bold;
	background-image: url('head3.gif');
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	text-transform: uppercase;
	font-size: 10px;
}
td#rightcolumn div.blockContent
{
	padding: 3px;
	line-height: 120%;
}
td#mainmenu a
{
	background-color: #F5F7FA;
	color: #004080;
	font-size: 12px;
	display: block;
	padding: 5px;
}
td#mainmenu a:hover
{
	background-color: #ffffff;
}
td#mainmenu a.menuTop
{
	border-bottom: 1px dashed #8699B5;
}
td#mainmenu a.menuMain
{
	border-bottom: 1px dashed #8699B5;
}
td#mainmenu a.menuSub
{
	padding-left: 9px;
	color: #9F0000;
	font-weight: normal;
	border-bottom: 1px dashed #8699B5;
}
td#usermenu a
{
	display: block;
	margin: 0;
	color: #005CB9;
	font-weight: normal;
	font-size: 10px;
	background-image: url('btn_bullet.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 11px;
	margin-left: 3px;
	padding-bottom: 2px;
	padding-right: 0px;
}
td#usermenu a:hover
{
	background-color: #ffffff;
}
td#usermenu a.highlight
{
	background-color: #fcc;
}
.head
{
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: left;
	color: #373737;
	height: 24px;
	line-height: 22px;
	text-align: center;
	background-color: #DFE2E6;
}
.even
{
	background-color: #F3F4F5;
	padding: 5px;
}
.odd
{
	background-color: #FAFAFA;
	padding: 5px;
}
.foot
{
	padding: 5px;
	font-weight: bold;
}
tr.even td
{
	background-color: transparent;
	padding: 5px;
}
tr.odd td
{
	background-color: transparent;
	padding: 5px;
}
div.errorMsg
{
	background-color: #FFCCCC;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
}
div.confirmMsg
{
	background-color: #DDFFDF;
	color: #136C99;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
}
div.resultMsg
{
	background-color: #CCCCCC;
	color: #333333;
	text-align: center;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	font-weight: bold;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding: 10px;
}
div.xoopsCode
{
	background: #FFFFFF;
	border: 1px inset #000080;
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}
div.xoopsQuote
{
	background: #FFFFFF;
	border: 1px inset #000080;
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}
.comTitle
{
	font-weight: bold;
	margin-bottom: 2px;
}
.comText
{
	padding: 2px;
}
.comUserStat
{
	font-size: 10px;
	color: #2F5376;
	font-weight: bold;
	border: 1px solid silver;
	background-color: #ffffff;
	margin: 2px;
	padding: 2px;
}
.comUserStatCaption
{
	font-weight: normal;
}
.comUserStatus
{
	margin-left: 2px;
	margin-top: 10px;
	color: #2F5376;
	font-weight: bold;
	font-size: 10px;
}
.comUserRank
{
	margin: 2px;
}
.comUserRankText
{
	font-size: 10px;
	font-weight: bold;
}
.comUserRankImg
{
	border: 0;
}
.comUserImg
{
	margin: 2px;
}
.comDate
{
	font-weight: normal;
	font-style: italic;
	font-size: smaller;
}
.comDateCaption
{
	font-weight: bold;
	font-style: normal;
}
input
{
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #737373;
	background-color: transparent;
}
textarea
{
	border: 1px solid #8699B5;
	width: 400px;
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: #F2F4F7;
}
input.formTextBox
{
	border: 1px solid #8699B5;
	background: #F2F4F7;
	font: 11px verdana, arial, helvetica, sans-serif;
}
select
{
	border: 1px solid #8699B5;
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: #F2F4F7;
}
.pozdrav
{
	background-color: #FFFFFF;
	padding: 4px;
	font-size: 11px;
	border-bottom: 1px solid #8699B5;
}
.vrijeme
{
	background-color: #FFFFFF;
	padding-top: 5px;
	font-size: 10px;
	border-bottom: 1px solid #8699B5;
}
.headerprvi
{
	background-color: #FFFFFF;
	color: #004080;
	font-weight: bold;
	vertical-align: middle;
	border-bottom: 1px solid #8699B5;
}
form
{
	font-size: 11px;
	color: #787878;
}
.loginlink
{
	background-image: url('btn_bullet.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 10px;
}
.button
{
	font-size: 10px;
	color: #000000;
	border: 1px groove #ffffff;
	background-color: #E8E8E8;
	margin-bottom: 1px;
}
.sadrzaj
{
	margin-bottom: 20px;
}
.blok
{
	margin-bottom: 6px;
}
.forum
{
	background-color: #E2E2E2;
	font-size: 11px;
	font-weight: bold;
	color: #004080;
	padding: 6px;
	background-image: url('menu4_bar.gif');
}
.forumprvi
{
	background-color: #F7F9FB;
	padding: 3px;
	color: #004080;
}
.forumdrugi
{
	background-color: #EFF3F8;
	padding: 3px;
	color: #004080;
}
.navigacijaforum
{
	background-color: #E3ECF2;
	padding: 5px;
	color: #004080;
	border-top: 1px dashed #333333;
	border-bottom: 1px dashed #333333;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
.gumb
{
	border: 1px outset #ffffff;
	color: #2E2E2E;
	background-color: #E8E8E8;
	border-top: 1px solid #FFFFFF;
}
.border
{
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 3px;
}
.borderdesno
{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 3px;
}
.forum a
{
	color: #004080;
}
.download
{
	padding: 10px;
}
.downhead
{
	background-image: url('menu2_bar.gif');
	color: #FFFFFF;
	padding: 5px;
}
.downloadsvaki
{
	width: 97%;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 5px;
}
.tiny
{
	width: 90%;
}
.dole
{
	border-top: 1px solid #cccccc;
	width: 758px;
	margin-top: 5px;
}
.privatnost
{
	color: #004080;
	font-size: 10px;
	text-align: center;
}
.privatnost a
{
	color: #004080;
}
td#headmenu a
{
	background-color: #4A5975;
	color: #FFFFFF;
	font-size: 10px;
	display: block;
	padding: 8px;
}
td#headmenu a:hover
{
	background-color: #8E9EB7;
	color: #004080;
}
td#headmenu a.menuHead
{
	font-size: 10px;
}
